nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e6e0e0; 
}

nav div {
  width: 33%;
}

nav h1 {
  text-align: center;
  margin-right: 800px;
  width: 33%;
}

img {
  padding: 15px;
  width: 100px;
  height: 100px;
}

ul {
  list-style-type: none;
  width: 33%;
}

nav ul {
  display: flex;
  justify-content: end;
}

nav ul li {
  padding: 10px;
  display: left;
  text-align: Center;
  margin-right: 800px;
  margin-left: -800px;
}
