.styling{
    font-weight: bold;    
}

.style-button1{
    font-weight: bold;
    display: inline-block;
    margin:auto ;
}

.button-container {
    text-align: center;
    margin-top: 10px; 
  }
  
  .style-button {
    font-weight: bold;
    margin-right: 10px;
  }

  .card-container {
    margin-left: 85px;
    margin-right: 20px;
    width: 310px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 50px;
    border: 2px solid #007bff;
    display:inline-block;
    flex-direction:row;
    align-items:center;    
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
